alembic ~= 0.7.6
flake8 ~= 3.5.0
Flask ~= 0.12.2
Flask-Cors ~= 3.0.3
Flask-GraphQL ~= 1.4.1
Flask-Migrate ~= 2.1.1
graphene ~= 2.0
graphene-sqlalchemy ~= 2.0
graphql-core ~= 2.0
gunicorn ~= 19.7.1
pytest ~= 3.2.3
pytest-cov ~= 2.5
snapshottest ~= 0.5
SQLAlchemy ~= 1.1.14
SQLAlchemy-Searchable ~= 0.10.6
SQLAlchemy-Utils ~= 0.32.19
psycopg2 ~= 2.7.3.1
passlib ~= 1.7.1
boto3 ~= 1.6.6

